<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />

    {% block custom_style %}

    {% endblock %}
    <title>
      {% block title %}

      {% endblock %}- FitLife
    </title>
    <style>
      a {
        font-size: 1.2rem;
      }
      b {
        color: #c0f03c;
      }
      .navbar-brand,
      .nav-link {
        color: #c0f03c !important;
      }
      .navbar-brand:hover,
      .nav-link:hover {
        color: black !important;
        background-color: #c0f03c;
      }
      .jumbotron-fluid {
        padding: 20px;
        background-color: #242323;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <a class="navbar-brand" href="{% url 'index' %}">FitLife Hub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link workout-link" href="{% url 'workoutpage' %}">Workout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listpage' %}">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bmipage' %}">BMI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dietpage' %}">Diet</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'userprofilepage' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logoutpage' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block body %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
